#div-1 {
    width: 60%;
    transition: 0.5s ease;
    height:150px;
}

#div-2 {
    width: 39%;
    transition: 0.5s ease;
    height:150px;
}

.big {
    transition: 0.5s ease;
    width: 100% !important;
}